<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <nav class="side-menu">
      <ul>
        <li><a href="#">What to do?<span><i class="fa fa-map-marker"></i></span></a></li>
        <li><a href="#">Where to go?<span><i class="fa fa-compass"></i></span></a></li>
        <li><a href="#">Services<span><i class="fa fa-bicycle"></i></span></a></li>
        <li><a href="#">Accomodation<span><i class="fa fa-bed"></i></span></a></li>
        <li><a href="#">Free Time<span><i class="fa fa-book"></i></span></a></li>
        <li><a href="#">Food&Drnk<span><i class="fa fa-beer"></i></span></a></li>
      </ul>
    </nav>
  </body>
