.detailProduct{
    font-weight: 900;
    background-color: rgb(94, 9, 231);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: rgb(235, 109, 235);
}