<div class="row" *ngIf="product">
  <div class="col-9">
    <div class="container">
      <div class="card">
          <div class="imgBx">
            <img
            src="{{ product.pictureUrl }}"
            alt="{{ product.name }}"
            class="img-fluid w-100"
          />
          </div>
          <div class="contentBx">
              <div class="size">
                  <h3>Size :</h3>
                  <span>7</span>
                  <span>8</span>
                  <span>9</span>
                  <span>10</span>
              </div>
              <div class="color">
                  <h3>Color :</h3>
                  <span></span>
                  <span></span>
                  <span></span>
              </div>
          </div>
      </div>
  </div>
    
  </div>
  <div class="col-3">
    <h3>{{ product.name }}</h3>
    <p>{{ product.price | currency }}</p>
    <div class="d-flex justify-content-start align-items-center">
      <i
        (click)="decrementQuantity()"
        class="fa fa-minus-circle text-warning mr-2"
        style="cursor: pointer; font-size: 2em"
      ></i>
      <span class="font-weight-bold" style="font-size: 2em; margin-right: -5px;">{{
        quantity
      }}</span>
      <i
        (click)="incrementQuantity()"
        class="fa fa-plus-circle text-warning mx-2"
        style="cursor: pointer; font-size: 2em"
      ></i>
      <button
        (click)="addItemToBasket()"
        class="btn btn-outline-primary btn-lg ml-4 pulse" pulse
      >
        Add to Cart
      </button>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12 ml-3">
      <h4 style="font-weight: 500;" >Description</h4>
      <p class="text-dark" style="font-weight:300; font-size: 1.2em;">{{ product.description }}</p>
    </div>
  </div>
</div>
