<head>
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
 </head>
<div class="container mt-5 card  ">
  <div class="row">
    <section class="col-3">
      <h5 class="text-warning ml-3 "><button class="glow-on-hover">Sort</button></h5>
      <select
        class="custom-select mb-3"
        (change)="onSortSelected($event.target.value)"
      >
        <option *ngFor="let sort of sortOptions" [value]="sort.value">
          {{ sort.name }}
        </option>
      </select>
      <h5 class="text-warning ml-3"><button class="glow-on-hover" >Brands</button></h5>
      <ul class="list-group my-3">
        <li
          class="list-group-item"
          aria-current="true"
          *ngFor="let brand of brands"
          [class.active]="brand.id === this.shopParams.brandId"
          [value]="brand.id"
          (click)="onBrandSelected(brand.id)"
        >
          {{ brand.name }}
        </li>
      </ul>
      <h5 class="text-warning ml-3"><button class="glow-on-hover">Types</button></h5>
      <ul class="list-group my-3">
        <li
          class="list-group-item"
          aria-current="true"
          *ngFor="let type of types"
          [class.active]="type.id === this.shopParams.typeId"
          [value]="type.id"
          (click)="onTypeSelected(type.id)"
        >
          {{ type.name }}
        </li>
      </ul>
    </section>
    <section class="col-9">
      <div class="d-flex justify-content-between align-items-center pb-2">
        <app-paging-header
          [totalCount]="totalCount"
          [pageNumber]="this.shopParams.pageNumber"
          [pageSize]="this.shopParams.pageSize"
        ></app-paging-header>
        <div class="form-inline mt-2 ">
          <!-- <div class="search-container">
            <input (keyup.enter)="onSearch()" class="form-control mr-2 search-input search-btn" #search
            placeholder="Search"
            type="text"
          />
          </div> -->
          <div class="search-container">
            <input type="text" (keyup.enter)="onSearch()" #search name="search" placeholder="Search..." class="search-input">
            <a class="search-btn"><i class="fas fa-search"></i></a>
        </div>
          <!-- <button class="btn btn-outline-primary my-2 search-btn" (click)="onSearch()">
            Search
          </button>
          <button class="btn btn-outline-success ml-2 my-2 search-btn" (click)="onReset()">
            Reset
          </button> -->
        </div>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col-4 mb-4" *ngFor="let item of products">
          <app-product-item [product]="item"></app-product-item>
        </div>
      </div>
      <div class="d-flex justify-content-center" *ngIf="totalCount > 0">
        <app-pager
          [pageSize]="shopParams.pageSize"
          [totalCount]="totalCount"
          (pageChanged)="onPageChanged($event)"
        ></app-pager>
      </div>
    </section>
  </div>
</div>
