<nav class="menu">
  <ol>
    
    <img src="/assets/images/giphy.gif" style="max-height:110px; border-top-left-radius: 30px; border-top-right-radius:30px; border-bottom-left-radius: 30px; border-bottom-right-radius: 30px; max-width: 110px; max-height: 110px;" [hspace]="0" alt="logo " class="logo" href="/" >
    <!-- <img src="/assets/images/logo4.jpg" style="max-height:110px" [hspace]="0" alt="logo" class="logo" routerLink="/"> -->
    <li class="menu-item ">
      <a href="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true } " class="glow-on-hover">Home</a>
    </li>
    <li class="menu-item">
      <a href="/shop" routerLinkActive="active" class="glow-on-hover">Shop</a>
    </li>
    <li class="menu-item"><a routerLink="/test-error" routerLinkActive="active" class="glow-on-hover">Errors</a></li>
    <div class="d-flex align-items-center color1 ">
      <a routerLink="/basket" class="position-relative" >
        <i class="fa fa-shopping-cart fa-2x mr-5 text-dark "></i>
        <div *ngIf="(basket$ | async) as basket" class="cart-no">{{basket.items.length}}</div>
      </a>
    <ng-container *ngIf="(currentUser$ | async) === null">
        <button routerLink="/account/login" class="raise ">Login</button>
        <button routerLink="/account/register" class="raise ">Sign Up</button>
    </ng-container>
    <ng-container *ngIf="(currentUser$ | async) as currentUser">
      <div class="dropdown ml-3 mr-5" dropdown>
        <a class="dropdown-toggle" style="cursor: pointer" dropdownToggle>
          <strong>Welcome {{(currentUser$ | async).displayName}}</strong>  
        </a>
        <div class="dropdown-menu dropdown-menu-right" style="cursor: pointer;" *dropdownMenu>
          <a routerLink="/basket" class="dropdown-item d-flex align-items-center py-2">
            <i class="fa fa-shopping-cart mr-3"></i> View Basket
          </a>
          <a routerLink="/orders" class="dropdown-item d-flex align-items-center py-2">
            <i class="fa fa-history mr-3"></i> View Orders
          </a>
          <div class="dropdown-divider"></div>
          <a (click)="logout()" class="dropdown-item d-flex align-items-center py-2">
            <i class="fa fa-sign-out mr-3"></i> Logout
          </a>
        </div>
      </div>
    </ng-container>
    </div>
  </ol>
</nav>
